*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #f0f0f0;
}

header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

div #login-form{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
main{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
input{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"]{
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
form{
    display: flex;
    flex-direction: column;
}

#pointage-form{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#days{
    font-size: 1.5em;
    margin-bottom: 20px;
}
#timestamp{
    font-size: 1.5em;
    margin-bottom: 20px;
}